<div class="header" style="background-color:black;  height:50px; " id="menu" >
        <div  class="logo">
                <span class="wrap_logo">
                        <img src="img/dlink.png" alt="dlink" class="img_logo" >
                </span>
        </div>
        <div class="menuWrap">
                <a ng-if="desktopView" class="menuItem" href="" target="_blank">
                        <span>活動流程</span>
                </a>
                <a ng-if="desktopView" class="menuItem" href="">
                        <span>地圖</span>
                </a>
                <a ng-if="desktopView" class="menuItem" href="">
                        <span>注意事項</span>
                </a>
                <i ng-if="!desktopView" class="fa fa-align-justify" style="font-size:20px;color:white"></i>
        </div>
</div>
