body,html{
  height: 100%;
  width: 100%;
}
ul{
  list-style-type: none;
}
a,a:hover,a:active{
  text-decoration: none;
  color:#fff;
}
table{width: 100%;}
.tg  {border-collapse:collapse;border-spacing:0;border-width:1px;border-style:solid;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#ade1eb;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#bbb;color:#fff;background-color:#46bbd2;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-sjuo{background-color:#C2FFD6;text-align:left;vertical-align:top}
#htmlcode h2{
  color: #fff;
  text-align: center;
}
#htmlcode p{
  color: #fff;
  text-align: center;
  font-size: 16px;
}
#circuit h2{
  color: #fff;
  text-align: center;
}
.menubtn{
  display: block;
  margin: auto;
  background-color: #3399ff;
  border: 1px solid #3399ff;
  color: #fff;
  padding: 0px 0px;
  font-size: 27px;
  text-align: center;
  text-decoration: none;
  width: 285px;
  cursor: pointer;
  border-radius: 5px;
  right: 110px;
  position: absolute;
  bottom: -125px;
}
.header{
  background-color:#fff;
  height:50px;
  border-bottom: 2px solid #278da2;
}
a.menuItem>span{
  color:#278da2; 
}
#circuit p{
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.menu{
  width: 100%;
  position: relative;
  top: 10%;
  display: block;
  margin: auto;
  z-index: 1;
}
.skillpic{
  width: 50%;
  display: block;
  margin: auto;
}
.col-sm-4 h2 , .col-sm-4 p{
  color: #fff
}
.mian_content{
  width: 100%
}
#menuskill{
  min-width: 63px
}
#frontend{
  height: 265px;
  display: block;
}
.blockanimate{
  animation-name:animateblock;
  animation-duration: 1s;
  animation-timing-function: linear; 
}
.diyImage{
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
.imgContent{
  width: 100%;
  height: 300px;
  overflow: auto;
}
#skillnew{
  width: 80%;
  margin: auto;
  position: relative;
}
#frontpage{
  width: 80%;
  display: block;
  margin: auto;
  position: relative;
  padding: 11.8% 0;
  z-index: -1;
}
#frontpage p{
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 40%;
  display: block;
  margin: auto;
}
#frontpage a{
  width: 305px;
  height:305px ;
}
#footer{
  top: 100vh;
  width: 100%;
  z-index: -1;
  position: sticky;;
  background: #fff;
  display: block;
}
.footer{
  border-top:2px solid #278da2;
  height:50px; 
}
div.footer>span{
  margin: auto;
  color: grey;
  text-align: center;
  display: block;
}
.footer div{
width: 100px;
display: block;
margin: auto;
}
.logo{
  position: relative;
  margin: auto;
  text-align: center;
  width: 55%;
  height: 100%;
  float: left;
}
.wrap_logo{
  height: 100%;
  display: inline-block;
  line-height: 50px;
  vertical-align: text-bottom;
}
.img_logo{
  width: 55%;
  height: auto;
  display: block;
}
#map{
  width: 100%;
  height: 300px;
}
.contentView{
  z-index: -1;
}
.menuWrap{
  display: inline-block;
  position: relative;
  margin: auto;
  text-align: center;
  width: 45%;
  height: 100%;
}
.menuItem{
  display: inline-block;
  position: relative;
  margin: auto;
  text-align: center;
  width: 30%;
  padding: 0 10px;
  line-height: 50px;
  height: 100%; 
}
.option{
  height: 100%;
  position: relative;
  width: 100%;
}
.hideItem{
  display: none;
}
#icon_Menu{
  float: right;
  line-height: 50px;
  display: none;
}
.footerlink{
  display: inline-block;
  position: relative;
  margin: auto;
  text-align: center;
  width: 44px;
  padding: 0 10px;
}
#skillpic>div:hover{
  transform: scale(1.1)
}
::-webkit-input-placeholder { 
  font-size:15px;
}
::-moz-placeholder { 
 
  font-size:15px;
}
:-ms-input-placeholder {

  font-size:15px;
}
:-moz-placeholder { 
 
  font-size:15px;
}
@media only screen and (max-width: 770px) {
  #frontpage a{
    width: 80%;
    height: 100%;
  }
 .menubtn{
  width: 100% !important;
  margin:auto;
  top: 0;
  position: fixed;
  right: 0;
  bottom:inherit;
 }
 .menu{
   width: 100% !important;
   position: fixed;
   top:0%;
 }
 #plink li a,#googleresult{
   width: 100%;
 }
 .main_content{
  height: 100%;
 }
 #frontpage p{
   width: 90% !important;
 }
 .shutech{
   width:80%  !important ;
 }
 #skillpic>div:hover{
  transform: inherit
}

  #skillnew,#portfolionew,#hire{
    margin: 15% auto;
  }
  #googleresult,#frontend{
    height: inherit;
    display: block;
  }
  #hire input{
    width: 100%;
    height: 36px;
    border-radius: 10px;
    font-size: 20px;
    color: #404040;
  }
  #hire form{
    width: 100%;
    display: block;
    margin: auto;
  }
  #hire div{
    padding: 0;
  }
  .barholder{
    height: 10px;
  }
  .menuItem{
    z-index: 1;
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 15% 10px;
    height: 14%;
    min-height: 50px;
  }
  a.menuItem>span{
    color:#fff; 
  }
  #icon_Menu{
    float: right;
    line-height: 50px;
    display: block; 
    height: 100%;
    position: relative;
    right: 5px;
  }
  .option{
    height: 100vh;
    position: absolute;
    width: 100%;
    background-color: hsl(190, 61%, 39%);
  }
  .slide{
    transition: 1s;
  }
  .img_logo{
    width: 100%;
    height: 100%;
    display: block;
  }
  .imgContent{
    width: 100%;
    height: 300px;
    overflow-x:auto;
  }
  .diyImage{
    width: 100%;
    display: inline-block;
  }
  .contentView{
    z-index: -1;
  }
  #map{
    width: 100%;
    height: 50vh;
  }
  .menuList{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  ul span{
    font-size: 18px;
  }
  ul{
    padding: 0;
  }
  .redWord{
    color: red;
  }
  .optionItem{
    font-size:20px;
  }
}