<div id="frontpage">
    <div ng-if="firstSteps">
        <span>
            <img src="img/family.png" alt="startFamilyDay" class="imgClass">
        </span>
        <span>點擊下面按鈕來開始家庭日活動喔！</span>
    </div>
    <div ng-if="secSteps">
        <div ng-repeat="gift in giftList" class="giftList" ng-click="checkItem(gift)">
            <span ng-if="gift.ischecked" class="checkedClass">
                <img src="img/checked.png" alt="" class="imgClass">
            </span>
            <span>
                <img ng-src="{{gift.link}}" alt="" class="imgClass">
            </span>
            <span class="labelClass">
                {{gift.label}}
            </span>
        </div>
        <div>
            <div ng-repeat='diy in diys'>
                <input type="radio" id="selected_diy_{{$index}}" ng-checked="diy['checked']">
                <label ng-click="checkDiy(diy,$index)">{{diy.label}}</label>
            </div>
        </div>
    </div>
    <span class="fullScreenWidth btn" ng-click="toStep('two')">{{btnLabel}}</span>
</div>